@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Caveat, Courier, monospace;
    font-size: 20px;
    --nav-color: white;
}
a{
    color: black;
    text-decoration: none;
}
html{
    scroll-behavior: smooth !important;

}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

  }
img{
    user-select: none;
}

.someAnimation{
animation: someAnimation 0.5 ease;
}
/* NAVIGACIJA */




#navigacija{
    user-select: none;
    background-color:var(--nav-color);
    min-height:10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    box-shadow: 0 0 10px black;
}
#navigacija h2{
margin-left: 5%;
font-family: Babylonica,monospace;
font-size: 25px;
user-select: none;
}
#navigacija nav{
    width: 60%;
}
#navigacija nav ul{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}
#navigacija nav ul li{
    position: relative;
}

#navigacija nav ul .selektovani::after{
    position: absolute;
    top: 100%;
    left: 0;
    animation: underline .5s ease forwards;
}
#navigacija nav ul li::after{
    position: absolute;
    top: 100%;
    left: -10%;
    border-radius:20px 0;
    font-style: italic;
    height: 1px;
    width: 0%;
    content: '';
    background-color: black;
}
#navigacija nav ul li:hover{
    cursor: pointer;
}


/* PADAJUCI MENI */
#padajuciMeni{
    display: none;
    cursor: pointer;
    margin-right: 5%;
}
#padajuciMeni .crni{
margin: 2px;
position:relative;
width: 30px;
height: 6px;
border-radius: 100px 0px;
background-color: black;
box-shadow:2px 0px 10px  var(--nav-color) ;

}
#padajuciMeni .beli{
box-sizing: content-box;
position: absolute;
right: 50%;
top: -5%;
transform: translate(50%,0%);
background-color:var(--nav-color);
width:100%;
height: 40%;
border-radius: 20px 0 20px 20px;
}



/* PADAJUCI MENI */
/* NAVIGACIJA */

/* POCETNA */
#pocetna{
    position: relative;
}
#pocetna img{
padding-top: 10vh;
width:100%;
filter: brightness(.65);
}





/* SWIPER */
.swiper {
    width: 100%;
    height: 100% !important;
    top: 0;
    right: 0;   
    position: absolute !important;
    background-color: transparent !important;

  }

  #swiper-wrapper{
    height: 100vh;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .swiper-slide {
    user-select: none;
    background-color: transparent !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: white;
  }
.swiper-slide div{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.swiper-slide div h1{
    font-size: 60px;
}
.swiper-slide div p{
    font-size: 30px;
    margin: 20% 0;

}


.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: green;
}
.swiper-pagination-bullet{
    opacity:var(--swiper-pagination-bullet-inactive-opacity, 1) ;
    margin:5%
}
.swiper-pagination{
    position: absolute !important;
    bottom: 5% !important;
    left: 50% ;
    transform: translateX(50%);
}
/* SWIPER */

/* POCETNA */




/* O NAMA */
#o-nama{
    width: 100%;
    padding-top: 10vh;
    padding-bottom:10vh ;
}

#o-nama .naslov h1{
margin:0 0 4% 15%;
color: darkgreen;
font-size: 35px;
padding-top: 15%;
}
#o-nama .nije-naslov{
    width: 95%;
    margin: 0 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

}
#o-nama .nije-naslov img{
    width: 40%;
    min-width: 250px;
    border-radius: 30px 0 30px 30px;
    margin-top: 10%;
    box-shadow: -5px -5px 40px rgba(0, 0, 0, 0.644);
}
#o-nama .nije-naslov .text{
    width: 60%;
    max-width: 500px;
    margin-top:2%
}


/* O NAMA */


/* USLUGE */
#usluge{
    padding-top: 10vh;
    width: 100%;
    padding-bottom:10vh;
    display: flex;
    flex-direction: column;
}
#usluge .h1{
margin:8% 0 4% 15%;

}
#usluge .h1 h1{
color: #006400;
font-size: 35px;
margin: 10% 0;
}
#usluge .segment{
    
    margin-bottom: 15%;
    width: 100%;
}
#usluge .segment .podnaslov{
    margin-top: -5%;
}
#usluge .segment .podnaslov h2 {
    position: absolute;
    margin-left: 27.5%;
    transform: translateX(-50%);
    color: black;
    font-size: 40px;
}
#usluge .segment .nije-podnaslov{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}
#usluge .segment .nije-podnaslov .text{
    max-width: 500px;
    width: 60%;
    margin-top: 10%;

}

#usluge .segment .nije-podnaslov img{
    width:25%;
    max-height: 40vh;
    object-fit: cover;
    object-position: center;
    margin-top: 5%;
    margin-left: 5%;

    border-radius: 12%;
    box-shadow: -5px -5px 40px rgba(0, 0, 0, 0.644);


}

/* USLUGE */

/* LOKACIJA */
#kontakt .text{
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    height: 35px;
    font-size: 25px;
}
#kontakt h1{
    margin-bottom: 3vh;
    font-size: 35px;
}
#lokacija h1{
    margin-bottom: 3vh;
    font-size: 35px;
}
.text img{
    width: 30px;
    margin-right: 10px;
    filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(306deg) brightness(102%) contrast(100%);
}
#lokacija .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
    font-size: 25px;
    
}
#zadnji .text{
    margin-bottom: 10px;
}
#zadnji .text:hover{
    cursor: pointer;
}
#zadnji .text:hover img{
    filter: invert(18%) sepia(92%) saturate(2192%) hue-rotate(102deg) brightness(96%) contrast(105%);
}

#mapa iframe{
width: 100%;
height: 100%;

}
#zadnji{
    flex-wrap: wrap;
    background-color: rgb(19, 19, 19);
    box-shadow: 0 0 50px black;
    color:white;
    display: flex;
    justify-content: space-between;
    padding: 10vh 10% 25vh 5%;
    min-height: 100vh !important;

}
#zadnji a{
    text-decoration: none;
    color: white;
    font-size: 25px;

}

/* LOKACIJA */

/* CENOVNIK */
#cenovnik{
    width: 100%;
    padding-bottom:10vh ;
}
#cenovnik .naslov{
    margin:8% 0 4% 15%;
}
#cenovnik .naslov h1{
    color: darkgreen;
    font-size: 35px;
    margin: 10% 0;
}
#cenovnik .panel .onpanel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    height: 40px;
    font-size:50px;
    align-items: end;
    border-bottom: solid black;
}
#cenovnik .onpanel p{
    margin: 0 5%;
    font-size:25px;
    

}
#cenovnik .accordion{
    border-bottom: solid black;

}

.accordion {
    background-color:white;
    color: #000000;
    border-bottom: solid black;
    font-size: 30px;
    padding: 18px;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    overflow: hidden;
    border: none;
    outline: none;
    display: flex;
    position: relative;
}
.active, .accordion:hover {
    cursor: pointer;
}
 
.panel {
    padding: 0 18px;
    background-color: white;
    display:none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.accordion:focus {
    border: none;
    outline: none;
}

.accordion::after {
    position: absolute;
    top: 50%;
    left:90%;
    content: ''; /* Unicode character for "plus" sign (+) */
    height: 15px;
    aspect-ratio: 1/1;
    float: right;
    background-image: url(./imgs/icons8-plus-math-60.png);
    background-size: cover;
    margin-left: 5px;
    transform: translateY(-50%);
  }
  
  .active::after {
    background-image: url(./imgs/icons8-minus-math-60.png);
  }
/* CENOVNIK */
/* NAVBAR TELEFON */
#navbar-tel{
    user-select: none;
    background-color:var(--nav-color);
    height:90vh;
    display: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    z-index: 3;
}
.flex{
    display: flex !important;
}
#navbar-tel ul{
    display: flex;
    text-transform:uppercase;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    width: 100%;
    z-index: 7 !important;
    user-select: none;
}
#navbar-tel ul li{
    padding: 3vh;
    list-style: none;
}
/* NAVBAR TELEFON */




/* MEDIJA */
@media only screen and (max-width: 600px) {
#padajuciMeni{
    display:block;
}
nav{
    display: none;
}
*{
    font-size: 10px !important;
}
p{
    font-size:10px !important ;
}
h1{
    font-size: 22px !important;
}
h2{
    font-size: 22px !important;
}
.swiper-slide{
    font-size: 12px !important;
}
}
/* MEDIJA */


/* ANIMACIJE */
@keyframes underline {
    from{
        width: 0%;
    }
    to{
        width: 120%;
    }
}
@keyframes someAnimation {
    0%{
background-color: #006400;
    }
    100%{
   background-color: red;
    }
}
/* ANIMACIJE */


